body {
  margin:0;
  padding: 0;
  height: 100%;
  width: 100%:
}

aside {
  position:fixed;
  bottom:0;
  left:0;
  padding:0 1em;
  background-color:yellow;
  z-index:3;
}

body:not(.isDark) #foreground {
  position: fixed;
  display:none;
}

video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#foreground {
  background-image: url("https://i.imgur.com/m3leRvQ.jpg");
  background-repeat: no-repeat;
  display: block;
  background-color:red;
  z-index:2;
}

#background {
  z-index:1;
}

canvas {
  position:fixed;
  top:0;
  left:0;
}